:root{
    --green:#2D4A3E;
    --red:#C84B31;
    --gold:#E9B824;
    --pastel-yellow:#FAF3E0;
}

*,*::placeholder,*:link{
    font-family: "DM Sans", sans-serif; 
}
body{
    background-color: var(--pastel-yellow);
}